{% extends 'base/base.html' %}
{% block title  %}Blog {% endblock %}

{% block content %}<br>
<div class="container">
    <div class="article">
        {% for article in articles %}
        <div class="image">
            {% for image in article.files.all %}
            <a href="{{ image.file.url }}"><img src="{{ image.file.url }}" alt="image" width=200px height=200px></a>
            {% endfor %}
        </div>
        <h1>{{ article.title }}</h1>
        <p>{{article.description}}</p>
        <a href="{% url 'detail' article.id %}">more info</a>
        <br><br>
        <hr>
        <br><br>
        {% endfor %}
    </div>
        
    
</div>
{% endblock %}