{% extends 'base/base.html '%}
{% block title %} My Resume {% endblock %}

{% block header%}
{% comment %}TODO: custome font size for skills div  {% endcomment %}
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-left">علیرضا کلایی</h1><br>
    <div class="introduction-contacts">
            <h4>09106165392</h4>
            <a href="https://www.gmail.com"><h4>alirezakalaie1384@gmail.com</h4></a>
            <a href="https://github.com/AlirezaKar"><h4>Github</h4></a>
            <a href="https://www.linkedin.com/in/alireza-kalaie-a57389278/"><h4>linkedin</h4></a>
    </div>
    <br><hr><br>
    <div class="skills">
        <h2>مهارت ها</h2><br>
        <ul>
            <li>Python</li>
            <p>گذراندن دو دوره برنامه نویسی مقدماتی با پایتون، کار با ماژول های Tkinter و PyGame</p>
            <li>Django</li>
            <p>گدراندن دو دوره برنامه نویسی پیشرفته Django، طراحی و برنامه نویسی BackEnd و  FrotEnd  وبسایت، کار با Django RESTframework ، Django ORM، آشنایی با معماری دیتابیس، کار با Bootstrap Framework، </p>
            <li>GIT</li>
            <p>کار با Github، آشنایی با GitFlow و GitHub</p>
            <li>Open CV</li>
            <p>آشنایی با متد های تشخیص اشیاء در انواع محتوا ( عکس، فیلم، webcam) آشنایی با Yolo v.8</p>
            <li>Matlab</li>
            <p>انجام محاسبات آماری و ریاضیاتی</p>
        </ul>
    </div>
    <br><hr><br>
    <div class="education">
        <h2>تحصیلات</h2><br>
        <h4>دانشجوی کارشناسی مهندسی برق دانشگاه خواجه نصیرالدین طوسی</h4>
        
    </div>
    <br><hr><br>
    <div class="languages">
        <ul>
            <h2>زبان ها</h2><br>
            <li>انگلیسی ( Professional working proficiency )</li>
            <li>آلمانی ( Elemantry proficiency )</li>
        </ul>
    </div>

</div>
{% endblock %}